<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/delivery']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
    {{ 'TABS.DELIVERY' | translate }}
  </a>
  <a
    mat-tab-link
    [routerLink]="['/shipping']"
    routerLinkActive
    #rla2="routerLinkActive"
    [active]="rla2.isActive"
    [disabled]="(isDeliveryFormValid$ | async) === (false | null | undefined)"
  >
    {{ 'TABS.SHIPPING' | translate }}
  </a>
  <a
    mat-tab-link
    [routerLink]="['/payment']"
    routerLinkActive
    #rla3="routerLinkActive"
    [active]="rla3.isActive"
    [disabled]="(isPaymentEnabled$ | async) === (false | null | undefined)"
  >
    {{ 'TABS.PAYMENT' | translate }}
  </a>
</nav>
<div class="ma4 mh5-m mh7-l">
  <router-outlet></router-outlet>
</div>
